{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class=".container-fluid content">
   <div class="container">
    <div class="page-header">
    <h1>Страница блога</h1>
    </div>
<div class="row">
<div class="col-lg-9 col-md-9 col-sm-9">
{% for post in posts %}

<div>
    <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
    <p>{{ post.text|linebreaksbr }}</p>
    <p>published: {{ post.published_date }}</p>
</div>
<hr>
{% endfor %}
</div>
<div class="col-lg-3 col-md-3 col-sm-3">
    <img class="img-circle" data-src="holder.js/140x140" src="{% static 'images/my_photo.jpg' %}"
         alt="Generic placeholder image" style="width: 140px;">
</div>
</div></div>
</div>
{% endblock %}
