{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container-fluid content">
    <div class="container">
        <div class="page-header">
            <h1>Страница блога</h1>
        </div>
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9">
                {% for post in posts %}
                <div>
                    <h1><a href="{% url 'post_detail' pk=post.pk %}" class="text-justif">{{ post.title }}</a></h1>
                    <p>published: {{ post.published_date }}</p>
                    {% if post.photo %}
                    <a href="{% url 'post_detail' pk=post.pk %}">
                    <img class="img-responsive center-block img-thumbnail" src="{{ BASE_DIR }}/{{ post.photo }}" alt="">
                    </a>
                    {% endif %}
                    <p class="text-justify">{{ post.text }}</p>
                </div>
                <hr>
                {% endfor %}
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <img class="img-responsive center-block" src="{% static 'images/my_photo.jpg' %}"
                     alt="Generic placeholder image">
            </div>
        </div>
    </div>
</div>
{% endblock %}
