{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container-fluid content">
    <div class="container">
        <div class="page-header">
            <h1>Страница блога</h1>
        </div>
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9">
                {% for post in posts %}
                <div>
                    <h1><a href="{% url 'post_detail' pk=post.pk %}" class="text-justif">{{ post.post_title }}</a></h1>
                    <p>published: {{ post.post_date }}</p>
                    {% if post.post_photo %}
                    <a href="{% url 'post_detail' pk=post.pk %}">
                        <img class="img-responsive center-block img-thumbnail"
                             src="{{ BASE_DIR }}/media/{{ post.post_photo }}" alt="">
                    </a>
                    {% endif %}
                    <p class="text-justify">{% autoescape off %}{{ post.post_text }}{% endautoescape %}</p>
                </div>
                <hr>
                {% endfor %}
                <ul class="pagination">

                    {% if posts.has_previous %}
                    <li><a href="/blog/{{ posts.previous_page_number }}/">&laquo;</a></li>
                    {% else %}
                    <li class="disabled"><a href="#">&laquo;</a></li>
                    {% endif %}

                    {% for page in posts.paginator.page_range %}
                        {% if page == posts.number %}
                        <li class="active"><a href="#">{{ page }}</a></li>
                        {% else %}
                        <li><a href="/blog/{{ page }}/">{{ page }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if posts.has_next %}
                    <li><a href="/blog/{{ posts.next_page_number }}/">&raquo;</a></li>
                    {% else %}
                    <li class="disabled"><a href="#">&raquo;</a></li>
                    {% endif %}

                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <img class="img-responsive center-block" src="{% static 'images/my_photo.jpg' %}"
                     alt="Generic placeholder image">
            </div>
        </div>
    </div>
</div>
{% endblock %}
